@media(max-width:991px){

    .products .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h2{
        font-size: 20px;
    }
}

@media(max-width:300px){
    /* h2{
        font-size: 38px;
    } */
    .title{
        padding-left: 3px;
    }
}