
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container{
    /* margin: 0 auto 0 auto ; */
    /* position: relative; */
    margin: 0 auto 20px auto;

}

.header .container{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(11, 11, 120);
    color: white;
    font-size: 50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/* .products{
    margin-left: auto;
    margin-right: auto;
} */
.products .container {
    display: grid;  
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 30px;
    margin: 0 40px 0 40px;
}
@media(max-width:991px){

    .products .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .title{font-size:30px;}
    
}
.box img{
    max-width: 100%;
    height: 250px;
    padding-bottom: 10px;
    /* transform: translateX(50%); */
    /* position: relative;
    left: 50px; */
    padding-top: 13px;
    margin-bottom: 10px;
}
.products .box{
    overflow: hidden;
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    overflow: hidden;
    border-radius: 4px;
    width: fit-content;

}
 .box .info{
    display: flex;
    justify-content: space-between;
    /* padding-left: 20px; */
    padding-right: 20px;
    margin-bottom: 10px;
 } 
.title{
    padding-left: 10px;
}
a {
    font-family: 'Smooch', cursive;
 }

 h2{
    /* position: relative; */
    width: fit-content;
    margin-top: 40px;
    margin-bottom: 40px;
   /* display: flex;
   justify-content: center; */
    margin-left: auto;
    margin-right: auto;
    color: rgb(11, 11, 120) ;
    font-size: 40px;
 }
@media(max-width:300px){
    h2{
        font-size: 38px;
    }
    .title{
        padding-left: 3px;
    }
}
